ul {
  padding:0;
  list-style:none;
  width: 40%;
  margin:auto;
  text-align: left;
}

li{
  font-size:1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}

table {
  margin: 0 auto;
  font-size: 18px;
  line-height: 2;
}
